{
  debug
  local_certs
  http_port     3080
  https_port    3443
}

127.0.0.1, localhost {
  route /auth* {
    respond * "auth" 200
  }

  route /prometheus* {
    authorize {
      primary yes
      crypto key verify 0e2fdcf8-6868-41a7-884b-7308795fc286
      crypto key e1008f2d verify testdata/rskeys/test_2_pri.pem
      set auth url /auth
      allow roles anonymous guest admin
      allow roles superadmin
      allow roles admin editor viewer
      allow roles AzureAD_Administrator AzureAD_Editor AzureAD_Viewer
      allow roles everyone Everyone
    }
    respond * "prometheus" 200
  }

  route /alertmanager* {
    authorize
    respond * "alertmanager" 200
  }

  route /myapp* {
    authorize
    respond * "myapp" 200
  }

  route /version* {
    respond * "1.0.0" 200
  }

  route {
    redir https://{hostport}/auth 302
  }
}
